html
    head
    title 设备安装插件
    link(rel='stylesheet' href='/stylesheets/style.css')
    body
        div.place
            span 位置：
            ul.placeul
                li
                    a 设备管理
                li
                    a 安装插件
        br
        br
        br
        div.right
            a(href="javascript:history.back();") 返回
        table
            caption 为设备(#{sn})选择安装插件
            tr
                th 序号
                th 插件名称
                th 操作
                - if(0 == result.rowCount) {
                    tr
                        td(colspan="3").nothing 没有可以安装的插件
                - } else {
                    - for(var i = 0; i < result.rowCount; i++) {
                        tr
                            td #{i+1}
                            td #{result.rows[i].plugname}
                            td 
                                a(href="/equipment/installPlugin/?sn=#{sn}&plugname=#{result.rows[i].plugname}") 安装
                    - }
                -}
