html
    head
        title 插件列表
        link(rel='stylesheet' href='/stylesheets/style.css')
        script.
            function doDel(plugname) {
                if (confirm('你真的要删除吗？')) {
                    location = '/plugin/deletePlugin/?plugname=' + plugname;
                }
            }
    body
        div.place
            span 位置：
            ul.placeul
                li
                    a 插件管理
                li
                    a 插件列表
        br
        br
        table
            caption 插件列表
            tr
                th 序号
                th 插件名称
                th 插件描述
                th(colspan="5" style="text-color:red;") 操作类型
                - if(0 == result.rowCount) {
                    tr
                        td(colspan="5") nothing!
                - } else {

                    - for(var i = 0; i < result.rowCount; i++) {
                        tr
                            td #{i+1}
                            td #{result.rows[i].plugname}
                            - if(null == result.rows[i].plugdesc || '' == result.rows[i].plugdesc.trim()) {
                                td 无
                            - } else {
                                td #{result.rows[i].plugdesc}
                            - }
                            td
                                a(href="javascript:doDel('#{result.rows[i].plugname}')") 删除
                            td
                                a(href="/plugin/updatePluginView?plugname=#{result.rows[i].plugname}&plugdesc=#{result.rows[i].plugdesc}") 修改
                    - }
                - }
