html
    head
        title 查找结果
        link(rel='stylesheet' href='/stylesheets/style.css')
        script.
            function doDel(sn) {
                if (confirm('你真的要删除吗？')) {
                    location = '/equipment/deleteEquipment/?sn=' + sn;
                }
            }
    body
        div.place
            span 位置：
            ul.placeul
                li
                    a 设备管理
                li
                    a 设备查找结果
        br
        br
        table
            caption 设备列表
            tr
                th 序号
                th 设备SN
                th 设备MAC
                th 在线状态
                th(colspan="5" style="text-color:red;") 操作类型
                - if(0 == result.rowCount) {
                    tr
                        td(colspan="8") nothing!
                - } else {

                    - for(var i = 0; i < result.rowCount; i++) {
                        tr
                            td #{i+1}
                            td #{result.rows[i].sn}
                            td #{result.rows[i].equipmac}
                            - if(result.rows[i].onlinestatus == 0) {
                                td 离线
                            - } else {
                                td 在线
                            - }
                            td
                                a(href="#") 升级
                            td
                                a(href="javascript:doDel('#{result.rows[i].sn}')") 删除
                            td
                                a(href="/equipment/installedPlugin?sn=#{result.rows[i].sn}") 已装插件
                            td
                                a(href="/equipment/installPluginList/?sn=#{result.rows[i].sn}") 安装插件
                            td
                                a(href="/equipment/equipServiceList/?sn=#{result.rows[i].sn}") 服务详细
                    - }
                - }
